h1{
    color: red;
}

h2{
    color: aquamarine;
}

.exercicio{
    border: 1px solid rgb(195, 241, 28);
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 8px;
}

input, button {
    margin: 5px, 0;
    padding: 6px;
}

p {
    font-weight: bold;
}